@import './variables.scss';

.wrapper {
  display: grid;
  margin-top: 32px;
  grid-template-columns: 1fr 80vw 1fr;
  grid-column-gap: 24px;

  > * {
    grid-column: 2;
  }
}
 
.full-bleed {
  grid-column: 1 / -1;
}

.error-message {
  display: inline-block;
  color: $error-color;
  margin-top: 4px;
}


@media only screen and (max-width: 767px) {
  .wrapper {
    grid-template-columns: 1fr calc(100% - 48px) 1fr;
  }
}
