.company-verification-form {
  .criteria-item {
    margin: 18px 0px;

    .criteria-upload-wrapper {
      background-color: rgb(231, 245, 255);
      padding: 12px;
      margin-top: 8px;
      box-sizing: border-box;
      border-radius: 5px;
    }
  }
}